#lienketcontainer {
  background-color: rgb(141, 32, 13);
  /* width: 100%; */
  float: left;
  margin-top: 6px;
  border: 0;
}
#ketnoi {
  color: chartreuse;
  font-size: medium;
  font-weight: bold;
  display: none;
  width: 200px;
}
#lienhe {
  color: chartreuse;
}
#lienhe span {
  font-size: medium;
  font-weight: bold;
}
#ketnoi ul {
  list-style: none;
  list-style-position: flex;
}
#ketnoi ul li {
  float: left;
  margin-right: 5px;
}
#ketnoi ul li a i {
  color: chartreuse;
}
#loginlogout {
  background-color: rgb(141, 32, 13);
  /* text-align: right; */
}
#loginlogout div {
  display: inline-flex;
  color: white;
  font-size: 15px;
  /* float: left; */
}
#loginlogout div div {
  margin-right: 6px;
  /* padding: 5px; */
}

.image {
  width: 100%;
}
#search {
  border: 1px solid red;
  border-radius: 5px;
  margin: 3px;
  background-color: white;
  display: flex;
  background-color: white;
  width: 70%;
}
#searchinput {
  width: 90%;
}
#searchinput input {
  border-color: rgba(153, 74, 74, 0);
  outline-color: rgba(153, 74, 74, 0);
  margin-top: 2px;
  margin-bottom: 2px;
  width: 100%;
  color: black;
}
#searchbutton {
  font-size: smaller;
  /* position: absolute;
    right: 0px; */
  /* float: right ; */
}
#giohangbutton {
  margin: 3px;
  border: 1px solid black;
  border-radius: 5px;
  position: relative;
}
.nav_wraper {
  background-color: black;
}
footer {
  border-top: 1px solid rgb(128, 90, 90);
}
.footerdetail {
  width: 300px;
}
.footerdetail ul li {
  margin-top: 20px;
  font-size: small;
  list-style-type: none;
  width: 100%;
}
.footerdetail ul li a {
  text-decoration: none;
}
#searchwaper {
  color: chartreuse;
  display: flex;
  background-color: rgb(141, 32, 13);
}
#menusp li a {
  color: white;
}
#menusp li a:hover {
  color: #000000;
}
#menusp li a:active {
  position: relative;
  top: 3px;
}
@media only screen and (max-width: 1213px) {
  #xkm {
    display: none;
  }
  #lienhe {
    display: none;
  }
  /* #logo {
    display: none;
  } */
  #search {
    width: 50%;
  }
}
.footerwaper {
  display: flex;
}
@media only screen and (max-width: 750px) {
  .footerwaper {
    display: block;
  }
}
#sp:hover {
  opacity: 0.7;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#user li a:hover {
  background-color: rgba(0, 0, 0, 0);
}
#user li a {
  color: white;
}
#optionuser {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}
#optionuser:focus {
  outline: none;
  box-shadow: none;
}
#buttonpage {
  background-color: rgb(131, 185, 201);
}
.showimage {
  position: absolute;
  background-color: aqua;
  width: 402px;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-right: 12px;
  z-index: 1;
  right: 105%;
  top: -26px;
}
.showimage::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 100%;
  margin-top: -5px;
  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent aqua;
}
/*  */
.body1 {
  background: whitesmoke;
  font-family: "Open Sans", sans-serif;
}

.container1 {
  max-width: 960px;
  margin: 30px auto;
  padding: 20px;
}

.h11 {
  font-size: 20px;
  text-align: center;
  margin: 20px 0 20px;
}
.h11 small {
  display: block;
  font-size: 15px;
  padding-top: 8px;
  color: gray;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
}
/*  */
.avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-edit input {
  display: none;
}
.avatar-edit label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-edit label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-edit label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

/*  */
.avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-preview div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.navadmin {
  display: inline-flex;
  list-style: none;
  width: 100%;
  padding-block: 10px;
  background-color: aqua;
}
.navadmin li {
  width: 33%;
  text-align: center;
}
.navadmin li a {
  text-decoration: none;
  cursor: pointer;
}
.navadmin li:hover {
  background-color: rgb(0, 255, 0);
}
.navadmin li a:active {
  color: red;
}
.navactive {
  animation-name: translateleft;
  animation-duration: 0.3s;
}
.navnoactive {
  display: none;
}
@keyframes translateleft {
  0% {
    transform: translate(0%, 100%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.liactive {
  background-color: rgb(0, 255, 0);
}
.linoactive {
  opacity: 0.2;
}
#erroralert {
  position: absolute;
  right: 90%;
}
.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50px;
}
.description:hover {
  border: 1px solid #cc0000;
  overflow: visible;
  white-space: pre-line;
  width: 500px;
  position: absolute;
  background-color: rgb(255, 255, 255);
}
